################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Lab02EDII/.vs/Lab02EDII/v16/Server/sqlite3
